"""
Only targetting pypi since dep package jupyter-server-proxy is only
available on conda-forge, so a pyviz package wouldn't be solvable.
"""

language: generic
os: linux

env:
  global:
    - PYENV_VERSION=3.7
    - PKG_TEST_PYTHON="--test-python=py37 --test-python=py27"

stages:
  - test
  - name: dev_package
    if: tag =~ ^v(\d+|\.)+[a-z]\d+$
  - name: package
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$

jobs:
  include:
    - &pip_default
      stage: test
      before_install: pip install pyctdev && doit ecosystem_setup
      install:
        - doit develop_install  -o tests
        - doit env_capture
      script: doit test_all

    ## dev packages

    - &pip_pkg
      <<: *pip_default
      env: PYPI=testpypi PYPIUSER=$TPPU PYPIPASS=$TPPP
      stage: dev_package
      install: True
      before_script:
        - doit package_build $PKG_TEST_PYTHON --test-group=lint --sdist-install-build-deps
      script: doit package_upload -u $PYPIUSER -p $PYPIPASS --pypi ${PYPI}

    ## release packages

    - <<: *pip_pkg
      env: PYPI=pypi PYPIUSER=$PPU PYPIPASS=$PPP
      stage: package

notifications:
  email: false
